*,
h1,
h2,
h3,
h4,
p,
code,
small,
strong,
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
